@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Azeret Mono", monospace;
    color: rgb(13, 19, 33);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* start navigation bar  */
.nav-bar{
    width: 1440px;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-bar > .logo {
    width: 30%;
}
.logo > p {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    text-align: center;
}
.nav-bar > .resume {
    width: 40%;
    text-align: center;
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
}
.nav-bar > .resume > button {
    font-size: 20px;
    font-weight: 600;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px 17px 24px;
}
/* end navigation bar  */

/* start header hero */
.hero-bg {
    width: 1440px;
    height: 652px;
    background-image: url(../assets/img/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.hero-box {
    width: 998px;
    height: 582px;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.hero-box > h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    margin: 24px 0px;
}
.hero-box > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 32px;
}
.hero-box > button {
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
}

/* end header hero */

/* start development section  */
.development-container{
    width: 1440px;
    height: 1470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.development-box{
    width: 1140px;
    height: 1420px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    display: flex;
    flex-direction: column;
    padding: 80px 97px 80px 97px;
}
.development-box > h2 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
    text-align: center;
}
.development-box > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    text-align: center;
}
.development-box > .box1 > .box1-content > h3,
.development-box > .box2 > .box2-content > h3,
.development-box > .box3 > .box3-content > h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.development-box > .box1 > .box1-content > p,
.development-box > .box2 > .box2-content > p,
.development-box > .box3 > .box3-content > p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.box1,
.box3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    padding: 48px;
    margin: 32px 0px;
}
.box2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    padding: 48px;
    margin: 32px 0px;
}
.box1-content,
.box2-content,
.box3-content {
    width: 477px;
    height: 219px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}
.box1-content > button,
.box2-content > button,
.box3-content > button {
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}

/* end development section  */

/* start inspiration  */
.inspiration{
    width: 1440px;
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inspiration-container{
    width: 1140px;
    height: 775px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.inspiration-content > h2{
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin: 24px 0px;
}
.inspiration-content > p {
    width: 852px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.inspiration-video {
    width: 1140px;
    height: 614px;
    padding: 32px;
    margin: 48px 0px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
.inspiration-video > iframe {
    border-radius: 16px;
}
/* end inspiration  */

/* start target  */
.target{
    width: 1440px;
    height: 1537px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.target-container {
    width: 1140px;
    height: 1437px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.current-target {
    width: 1140px;
    height: 460px;
    display: flex;
    flex-direction: column;
}
.target-content {
    text-align: center;
}
.target-content > h2 {
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin: 24px 0;
}
.target-content > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 24px;
}
.cti-box{
    width: 1140px;
    height: 299px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.current-target-item1,
.current-target-item2,
.current-target-item3{
    width: 364px;
    height: 299px;
    padding: 40px;
    border-radius: 16px;
}
.current-target-item1 {
    background: rgba(255, 76, 30, 0.05);
}
.current-target-item2 {
    background: rgba(0, 76, 232, 0.05);
}
.current-target-item3 {
    background: rgba(255, 223, 0, 0.05);
}
.current-target-item1 > img,
.current-target-item2 > img,
.current-target-item3 > img {
    width: 56px;
    height: 56px;
    margin-bottom: 24px;
}
.current-target-item1 > h2,
.current-target-item2 > h2,
.current-target-item3 > h2 {
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    margin-bottom: 8px;
}
.current-target-item1 > p,
.current-target-item2 > p,
.current-target-item3 > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 24px;
}
.current-target-item1 > a,
.current-target-item2 > a,
.current-target-item3 > a {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-decoration-line: underline;
}
.next-target{
    margin-top: 111px;
}
.nti-box {
    width: 1140px;
    height: 705px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    align-items: center;
}
.next-target-item{
    width: 1140px;
    height: 219px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    align-items:center;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
}
.next-target-item > .item-content > h2{
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    margin-bottom: 8px;
}
.next-target-item > .item-content > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 24px;
}
.next-target-item > .item-content > a {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-decoration-line: underline;
}
/* end target  */

/* start support  */
.support{
    width: 1440px;
    height: 413px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.support-container{
    width: 1140px;
    height: 313px;
    padding: 64px 48px 64px 48px;
    border-radius: 16px; 
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../assets/img/handshake.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.support-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.support-content > h2 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 16px;
}
.support-content > p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
    padding: 0 200px;
    text-align: center;
}
.support-input > input {
    width: 548px;
    height: 57px;
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 19px 20px 19px 20px;
    margin-right: 16px;
}
.support-input > button {
    width: 120px;
    height: 57px;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    padding: 17px 20px 17px 20px;
    border-radius: 8px;
    border: none;
    background: rgb(255, 255, 255);
}
.footer-container{
    width: 1440px;
    height: 100px;
    padding: 32px 150px 32px 150px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
}
/* end support  */